* {
  margin: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
}

.cards {
  padding: 30px 30px 50px 30px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-image: url("../../images/background-gea37234bd_12802.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */
}

.golCard {
  background-image: url("../../images/goleiro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 260px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.defCard {
  background-image: url("../../images/defensor.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 260px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.meiCard {
  background-image: url("../../images/meio-campista.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 260px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.ataCard {
  background-image: url("../../images/atacante.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 260px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.teamLogo {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.cardNames {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.playerName {
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 193px;
}
