.card {
  background-image: url("../../images/team-card-layout.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 270px;
  width: 200px;
  border: 2px solid black;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.teamLogo img {
  width: 80px;
  margin-top: 50px;
}
