.container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  max-width: 850px;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.links {
  display: flex;
  gap: 20px;
}

.img {
  width: 40px;
}
