.container {
  background-image: url("../../images/background-gea37234bd_12802.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.imgDiv {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
