.container {
  background-image: url("../../images/background-gea37234bd_12802.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.capa {
  max-height: 90vh;
  max-width: 90vw;
}


