.infoPage {
  height: 100%;
  background-image: url("../../images/background-gea37234bd_12802.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.infos {
  background-color: rgba(248, 248, 248, 0.904);
  border: 10px solid rgb(255, 204, 0);
  width: 80vw;
  max-width: 800px;
  margin: 50px 0px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.infosTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px;
  font-size: 2em;
  text-align: center;
}

.infosAbout {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ourCromo {
  width: 300px;
}

.infosText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  text-align: justify;
}

.ourTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px;
  font-size: 2em;
}

.ourInfosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

.ourInfos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ourLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.img {
  width: 50px;
  height: 50px;
  margin: 2px;
}

.btn {
  width: 70px;
  border: none;
  background-color: #ffcc00;
  border-radius: 3px;
  cursor: pointer;
}
